@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header {
  @apply w-4/6 md:bg-[#3333A3] py-7 px-10 flex gap-10 justify-between;

  .btns {
    @apply flex gap-5 items-center ;

    .prev {
      @apply md:bg-[#00000070] w-10 h-10 flex justify-center items-center rounded-full;

    }
    .next {
      @apply md:bg-[#00000070] w-10 h-10 flex justify-center items-center rounded-full rotate-180;
    }
  }
  .account {
    @apply w-48 h-10  md:bg-[#000000cc] rounded-full flex items-center justify-between ;
	}
}